apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: billing-db-pvc
  namespace: microservices
  labels:
    app: billing-db
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  storageClassName: local-path  # K3s default storage class